* {
    margin: 0px auto;
    padding: 0px;
}

body {
    background-image: url(../image/background.png);
}

.wrapper {
    height: 700px;
    width: 1089px;
    background-color: antiquewhite;
}

nav {
    height: 50px;
    width: 100%;
    background-image: url(../image/Header.jfif);
    line-height: 50px;
}

header {
    height: 150px;
    width: 100%;
    background-image: url(../image/dalat2.jpg);
}

.wrapper header .head {
    color: #4576FF;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 5px 5px 0px #999999;
    text-align: center;
    line-height: 150px;
}

.wrapper header:hover p {
    transform: rotate(30deg);
}

.content {
    width: 100%;
    height: 360px;
    background-color: azure;
}

aside {
    height: 360px;
    width: 30%;
    float: left;
}

section {
    height: 360px;
    width: 70%;
    float: left;
    background-image: url(../image/back1.jpg);
}

.clear {
    clear: both;
}

.menu li {
    float: left;
    width: 150px;
    height: 50px;
    list-style: none;
    text-indent: 20px;
    background-color: beige;
    position: relative;
}

.menu li .submenu {
    position: absolute;
    display: none;
}

a {
    font-weight: bold;
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.menu li:hover {
    background-color: black;
}

li:hover>a {
    font-style: italic;
    color: white;
}

.menu li:hover .submenu {
    display: block
}

nav span form #txtSumbit {
    padding: 3px;
    border-radius: 50%;
}

nav span form #txtEmail {
    padding: 3px;
    font-weight: bold;
}

.content aside article img:hover {
    transform: rotate(20deg);
}

.content aside article img {
    height: 90px;
    width: 100%;
}

footer {
    height: 140px;
    width: 100%;
}

footer p {
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: aqua;
    text-decoration: none;
}

.content section fieldset label {
    color: white;
}

.content section fieldset legend {
    color: white;
}

.content section p {
    color: white;
}